html,body{
    height: 100vh;
    width: 100%;
    background-image: url(ridham-parikh-xI9IKZWbRCA-unsplash.jpg);
  
    background-size: cover;
    background-repeat: no-repeat;
}

*{
   
    margin: 0;
    font-family: 'Inconsolata', monospace;
    font-family: 'Comfortaa', cursive;
    padding: 0;
}
.nav-link .navbar-brand{
    color: white !important;
}

#x{
    font-size:5vw;
}

.nav-link {
    font-size: 1.3vw;

}

.content {
    margin-top: 17vw;
    margin-bottom:40vw;
    margin-right: 0vw;
}
h1{
    font-size: 5vw
    !important ;
}

p{
    font-size: 22px;
    text-align: center;
}


#container{
    padding-top: -20px;
}

.parallax{
    height: 30vw;
    background-image: url(debashis-biswas-dyPFnxxUhYk-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;

    background-attachment: fixed;
    color: white;
    display: flex;
    align-items: center;
}
.img{
    width:80px;
    height:80px;
}
input[type="text"]{
    width: 22vw;
    border-width: 2.2px;
    border-color: black; 
}
textarea{
    width: 52vw;
    border-width: 2.2px;
    border-color: black; 
}

.parallax2{
    height: 40vw;
     background-image: url(joshua-rawson-harris-KRELIShKxTM-unsplash.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    color: black;
    display: flex;
    align-items: center;


}
.parallax2 h2{
    color: black;
    font-size:5vh;
}

.parallax2 p{
    color: black;
    font-size: 1.3vw;
}
.icons{
    margin-top: 10vh;
    width: 100%;
 
    
    
    
}
.icons ul{
    position:relative;
    float: left;
   
    display: inline-block;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.icons ul li{
    display: inline-block;
    width:60px;
    height: 60px;
    margin: 0px 10px;
    border-radius: 100%;
    background: #32CD32;
}
.icons ul li a{
    color: #272727;
    font-size: 25px;
    
}
.icons ul li a i{
    line-height: 50px;
}
.icons ul li a i:hover{
    background-color:  #272727;
    color: #32CD32;
    border-radius: 100%;
    transition: 0.6s ease;
     width:60px;
    height: 60px;
    margin: 0px 10px;
}
.btn1{
    float: left;
    background-color: transparent !important;
    color: black !important;
}
.btn2{
    float: right;
    background-color: transparent !important;
    color: black !important;
}
.cols3{
    position: relative;
}
.count{
    position: absolute;
    top: 110px;bottom: 0;left: 0;right: 0;}
    padding-top: 12vh;
}

.img-fluid1{
    height: 5vh;
    width: 5vw;
}
.img-fluidx{
    width: 90px;
    height: 90px;
}
